h1 {
font-family: 'Open Sans', sans-serif, Arial;
color: blue;
}

h2 {
  font-family:'Open Sans', sans-serif, Arial;
  color: green;
}

/*h3 TBA*/

li{
  font-family: courier, monospace;
  color:#002a2a;
}
div {
 height: 150px;
 width:  250px;
 }

 .orange{
 background-color: orange;
}

.yellow{
  background-color: yellow;
}
.fuchsia{
  background-color:fuchsia;

}
